* {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  color: white;
  overflow: hidden;
}

.main {
    background-color: black;
    display: flex;
    height: 100vh;
}

.sidebar {
    margin: 0.5rem;
    background-color: black;
    border: 2px solid black;
    width: 340px;
    border-radius: 1rem; /*16px*/
}

.main_content {
    margin:  0.5rem 0;
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border: 2px solid black;
    border-radius: 1rem; /*16px*/
    padding: 0 1.5rem 0 1.5rem;
}

.music_player {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    border: 2px solid black;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    background-color: #121212;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;

}

.nav_option {
    line-height: 2.5rem;
    background-color: #121212;
    opacity: 0.6;
    padding: 0.5rem 0.75rem;
}
.nav_option:hover {
    opacity: 1;
}

.nav_option i {
    font-size: 1.25rem;
}

.nav_option a {
    font-size: 1rem;
    margin-left: 1rem;
}


.library {
    margin: 0.5rem 0;
    background-color: #121212;
    border-radius: 1rem;
    height: 100vh;
}

.options {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib_option {
    margin-left: 1rem ;
    line-height: 2.5rem;
    background-color: #121212;
    opacity: 0.6;
    padding: 0.5rem 0.75rem;
}

.lib_option a {
    padding-left: 1rem;
}

.lib_option img {
    height: 1.25rem;
    width: 1.25rem;
}

.lib_option:hover {
    opacity: 1;
}



.icons {
    background-color: #121212;
    padding: 0.5rem 0.75rem;
}

.icons i {
     opacity: 0.6;
    font-size: 1.25rem;
    margin: 10px;
}

.icons i:hover {
    opacity: 1;
}

.boxes {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0.25rem;
    background-color: #121212;
    border-radius: 0 0 1rem 1rem;
}

#box {
    height: 8rem;
    background-color: #1f1f1f;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s linear;
}


#box h4, #box p {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    margin: 0.5rem;
}

#btn {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    font-weight: 700;
    transition: all 0.1s;
}

#btn:hover {
    transform: scale(1.05);
    background-color: #efefef;
}

#box:hover {
    background-color: #2f2f2f;
    transform: scale(1.05);
}

.nav_bar {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem; 
    z-index: 10;
}

.sticky_nav {
    margin-left: 1rem;
}

.sticky_nav img:hover {
    transform: scale(1.2);
}

.sticky_nav_options {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

.sticky_nav_options i:hover{
    transform: scale(1.1);
}

#lef {
    background-color: black;
    color: white;
}
#lef i {
    font-size: 1rem;
    color: white;
}

.badge{
    margin: 0.75rem 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    font-weight: 700;
    transition: all 0.1s;
}
.badge:hover {
    transform: scale(1.05);
    background-color: #efefef;
}

.badge i{
    color: black;
}

@media (max-width:900px) {
    #hide {
        display: none;
    }
}

.card {
    margin-top: 1rem;
    background-color: #1f1f1f;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
}

.card_img {
    width: 100%;
    border-radius: 0.5rem;
}

.card_title {
    font-weight: 600;
}

.card_info {
    font-size: 0.8rem;
    opacity: 0.6;
}

.music_player {
    display: flex;
}

.music_player .album {
    width: 30%;
    background-color: black;
}

.music_player .player {
    
    width: 40%;
    background-color: black;
}
.player_icons img{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 1rem;
    width: 1rem;
    opacity: 0.8;
}
.player_icons img:hover {
    opacity: 1;
}
#play{
    opacity: 1;
    height: 2rem;
    width: 2rem;
}
.player_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback_bar {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress_bar {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    appearance: none;
    background-color: transparent;
    width: 60%;
    cursor: pointer;
    height: 0.3rem;
}

.progress_bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px; 
}

.progress_bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -6px;
}

span {
    margin-top: 0.5rem;
}

.music_player .controls {
    width: 30%;
    background-color: black;
}

.album {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.poster {
    margin-left: 1.5rem;
}

.alb_btn {
    height: 2rem;
    width: 2rem;
    background-color: #121212;
}

.song_artist {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    opacity: 0.8;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
}

.vol {
    appearance: none;
    background-color: transparent;
    width: 30%;
    cursor: pointer;
}

.vol::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.3rem;
}

.vol::-webkit-slider-thumb {
    margin-top: -6px;
    appearance: none;
    height: 1rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -6px;
    
}